<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    *{
      margin: 0 auto;
      padding: 0;
    }
    .container{
      border: 1px solid #a1a1a1;
      border-radius: 10px;
      width: 60%;
      margin-top: 30px;
    }
    .header h2{
        padding: 20px 20px;
        font-size: 30px;
    }
    .form-control{
      width: 95%;
      margin: 10px;
      height: 20px;
      padding: 3px;
    }
    .form-group{
      margin: 10px;
    }
    .btnclass{
      display: flex;
      justify-content: center;
    }
    .btn{
      border: none;
      text-align: center;
      width: 40%;
      height: 30px;
      margin: 10px;
      background: rgb(56, 179, 217);
      border-radius: 10px;
      color: white;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="header">
        <h2>添加记录</h2>
        <hr />
        <form>
          <div class="form-group">
            <label for="item">事项</label>
            <input
              type="text"
              class="form-control"
              id="item"
            />
          </div>
          <div class="form-group">
            <label for="time">发生时间</label>
            <input
              type="text"
              class="form-control"
              id="time"
            />
          </div>
          <div class="form-group">
            <label for="type">类型</label>
            <select class="form-control" id="type">
              <option value="">支出</option>
              <option value="">收入</option>
            </select>
          </div>
          <div class="form-group">
            <label for="account">金额</label>
            <input
              type="text"
              class="form-control"
              id="account"
            />
          </div>
          
          <div class="form-group">
            <label for="remarks">备注</label>
            <textarea class="form-control" id="remarks"></textarea>
          </div>
          <hr>
          <div class="btnclass">
          <button type="submit" class="btn">添加</button>

          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>